{% extends 'application.html' %}
{% load static %}
{% block content %}
    
        <div class="row">
            <div class="col l8 z-depth-1">
                <h4> {{ post.title }} </h4>
                <br>
                <p> {{ post.content }}</p>
            </div>
            <div id="view-port-mobile-visibility">
                    <div class=" offset-l1 col l3  z-depth-1">
                            <div class="row">
                                    <div class="col l12 ">
                                            <h5>Articles Recents</h5>
                                    </div>
                            </div>
                            <div class="divider">
                                
                            </div>
                            <div class=" row">
                                    <div class="col l3">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam
                                                    a!</p>
                                    </div>
                            </div>
                    </div>
            </div>
        </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}