{% extends 'application.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col l1">
        <div class="fixed-action-btn">
            <a href=" " class="btn-floating btn-large waves-effect waves-light red "><i
                    class="material-icons">add</i></a>
        </div>
    </div>
    <div class=" col l6">
        <div class="row">
            <div class=" center col l1">
                <i class=" blog-icon-color material-icons small">calendar_today </i>
            </div>
            <div class=" center col l4">
                <span class="blog-date"> date </span>
            </div>
        </div>
        <div class="card">
            <div class="card-image">
                <img src="{% static '/images/default.jpg' %}">
            </div>
            <a href="" class="btn-floating btn-large halfway-fab waves-effect waves-light red"><i
                    class="material-icons">edit</i></a>
            <div class="card-content">
                <h5>First-article</h5>
                <p>Ceci est un résumé de l'article de blog</p>
            </div>
            <div class="card-action">
                <a class="btn-small waves-effect waves-light blue" href="">Lire</a>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
    <div id="view-port-mobile-visibility">
        <div class="col l3 offset-l1 z-depth-1">
                <div class="row ">
                        <div class="col l12 red ligthen 5 white-text">
                                <h5>Articles Recents</h5>
                        </div>
                </div>
                <div class=" row">
                        <div class="col l12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam
                                        sapiente
                                        dolores nisi
                                        nesciunt exercitationem? Iusto voluptatem odio totam ullam!
                                        Accusamus
                                        saepe recusandae
                                        velit quos eveniet, reiciendis a sunt perferendis tempora!</p>
                        </div>
                </div>
        </div>
</div>


    {% endblock content %}